/* Classes de animação do Modal (do código original) */
.modal-enter-from {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s ease-out;
}

/* Classe para o 'active' dos filtros da tabela de membros */
#member-filters .filter-button.active {
    background-color: #16a34a; /* bg-green-600 */
    color: rgb(255, 255, 255);
    border-color: #16a34a;
}

/* Classe para os tabs de presença */
#attendance-tabs .tab-button.active {
    border-color: #16a34a; /* border-green-600 */
    color: rgb(0, 255, 30); /* text-green-700 */
}